.category {
  &__title {
    font-weight: 400;
    font-size: 42px;
    text-transform: capitalize;
  }

  &__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 103px 40px;
    margin-top: 103px;
  }

  &__product {
    width: 30%;
  }
}
