.currenciesModal {
    position: absolute;
    background: #fff;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    width: 114px;
    top: 30px;
    right: -60px;

    &__item {
        width: 100%;
        padding: 10px;
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        color: #1D1F22;


        &:hover {
            background: #EEEEEE;
        }
    }

    &__item-selected {
        background: #EEEEEE;
    }
}