@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Roboto+Condensed&family=Source+Sans+Pro&display=swap');

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Roboto", sans-serif;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-green-color: #5ece7b;
  --container-size: 1440px;
  --container-margin: 100px;
  --header-height: 80px;
}

// *::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: #eee;
//   border-radius: 4px;
// }