@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@700&family=Roboto+Condensed:wght@700&family=Source+Sans+Pro&display=swap');

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 160%;
  color: var(--main-black-color);
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-green-color: #5ece7b;
  --main-black-color: #1d1f22;
  --main-gray-color: #8D8F9A;
  --main-light-color: #e2e2e2;
  --container-size: 1440px;
  --container-margin: 100px;
  --header-height: 80px;
  --page-margin-top: 80px;
}