.attributes {
    display: flex;
    flex-flow: wrap;

    &__item {
        margin: 10px 10px 0 0;
    }
}


$swatch-size: 36px;
$swatch-size-small: 20px;

.swatch {
    width: $swatch-size;
    height: $swatch-size;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        width: calc($swatch-size - 4px);
        height: calc($swatch-size - 4px);
    }

    &__item-small {
        width: calc($swatch-size-small - 4px);
        height: calc($swatch-size-small - 4px);
    }

    &-selected {
        border: 1px solid var(--main-green-color);
    }


    &-small {
        width: calc($swatch-size-small);
        height: calc($swatch-size-small);
    }
}

.text {
    min-width: 63px;
    height: 45px;
    border: 1px solid #1D1F22;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1D1F22;

    &-selected {
        background: #1D1F22;
        border: 1px solid #1D1F22;
        color: #fff
    }

    &-small {
        min-width: 24px;
        height: 24px;
    }
}