.attributes {
    display: flex;

    &__item {
        margin-right: 10px;
    }
}

.swatch {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        width: 32px;
        height: 32px;
    }

    &-selected {
        border: 1px solid var(--main-green-color);
    }
}

.text {
    min-width: 63px;
    height: 45px;
    border: 1px solid #1D1F22;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1D1F22;

    &-selected {
        background: #1D1F22;
        border: 1px solid #1D1F22;
        color: #fff
    }

    &-small {
        min-width: 24px;
        height: 24px;
    }
}