.header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  background-color: #fff;
  max-width: var(--container-size);
  padding: 0 var(--container-margin) 0 var(--container-margin);
  z-index: 5;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
  }

  &__link {
    padding: 28px 20px 32px 20px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #1d1f22;
  }

  &__link:hover,
  &__link-selected {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main-green-color);
    text-decoration: none;
    position: relative;
  }

  &__link:hover::after,
  &__link-selected::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--main-green-color);
  }

  &__logo {
    position: absolute;
    left: 50%;
  }

  &__buttons {
    display: flex;
  }

  &__mask {
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(100vh - var(--header-height));
    width: 100vw;
    background: rgba(57, 55, 72, 0.22);
  }
}

.cart {
  position: relative;

  &__button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
  }

  &__count {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #1D1F22;
    top: -10px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    &-text {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 14px;
      color: #fff;
    }
  }

  &__logo {}
}

.currencies {
  position: relative;
  margin-right: 10px;

  &__button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__symbol {
    margin-right: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #1D1F22;
  }

  &__arrow {}
}