$cart-height: 70vh;

.cartModal {
    position: absolute;
    top: var(--header-height);
    right: 0;
    width: 325px;
    background: #fff;
    overflow-y: hidden;
    z-index: 15;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    &-visible {
        opacity: 1 !important;
        pointer-events: all !important;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        padding: 32px 16px 16px 16px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #eee;
            border-radius: 4px;
        }
    }

    &__item {
        margin: 20px 0;
        display: flex;
        align-items: stretch;
    }

    &__title {
        margin-bottom: 12px;
        font-size: 16px;
        display: flex;

        &-name {
            font-weight: 700;
        }

        &-count {
            font-weight: 500;
        }
    }

    &__panel {
        width: 100%;
        background: #fff;
        padding: 16px;
    }

    &__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 16px 0 16px;
    }

    &__total {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }

    &__price {
        font-weight: 700;
        font-size: 16px;
    }

    &__bag {
        width: 140px;
        height: 43px;
        background: #fff;
        border: 1px solid var(--main-black-color);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
        transition: background .3s;

        &:hover {
            background: var(--main-light-color);
        }
    }

    &__check {
        width: 140px;
        height: 43px;
        background: var(--main-green-color);
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-transform: uppercase;
        color: #fff;
        opacity: 1;
        transition: opacity .3s;

        &:hover {
            opacity: 0.5;
        }
    }

    &__mask {
        position: fixed;
        left: 0;
        bottom: 0;
        height: calc(100vh - var(--header-height));
        width: 100vw;
        background: rgba(57, 55, 72, 0.22);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
      }
}