.cartProduct {
    display: flex;
    
    &__info {}

    &__brand {}

    &__name {}

    &__price {}

    &__attribute {
        &__title {}
    }

    &__buttons {}

    &__button {}

    &__quantity {}

    &__image {
        width: 121px;
        height: 100%;
        object-fit: cover;
    }
}